@model FlightCast.Models.WeatherRequest


<h2>Weather History</h2>
<form asp-action="GetWeather" method="post">
    <div class="form group">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" class="form-control" required />

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" class="form-control" required />

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" class="form-control" required />

        <button type="submit" class="btn btn-primary mt-3">Get Weather</button>
    </div>
</form>
<div class="weather-wrapper">
</div>