@model FlightCast.Models.User

<div class="login-wrapper">
    <div class="login-form">

        <h2 class="text-center">Login</h2>
        <form asp-action="Index" method="post">
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" style="min-height: 1.5em;margin-bottom: 1rem;">
            </div>
            <button type="submit" class=" btn btn-primary w-100">Login</button>
            <div class="text-center mt-3">
                <a asp-controller="Login" asp-action="Register">Register here</a>
            </div>
        </form>
    </div>
</div>

<style>

    .login-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh; 
        padding: 40px 0;
    }

    .login-form {
        background-color: aquamarine;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
    }

</style>